{% extends 'LAYOUT.html' %}
{% block body %}

<head>
    <title>Homepage</title>
</head>
<body>
<style type="text/css">
    body{
         background-image: url('https://images.unsplash.com/photo-1503455637927-730bce8583c0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60');
        background-position: center;
        background-size: cover;
        height: 100vh;

    }
    p{
        text-align: center;
        color: blueviolet;
        font-size: 30px;
    }
    .top{
        color: #4a55fa;
        font-family: sans-serif;
    }

</style>
<div class="top">
    <h1>SOFTWARE ENGINEERING PROJECT</h1>
    </div>
    <p> WELCOME TO FOOD SAFETY PORTAL</p>
</body>
{% endblock %}