<!DOCTYPE html>
<html lang="en">
<style type="text/css">
    body
    {
        margin: 0;
        padding: 0;
        font-family: 'Roboto', sans-serif !important;
        background: url('static/css/ocean.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .col-lg-13 {
    margin: auto;
    width: 60%;
    border: 3px solid #ff751a;
    padding: 10px;
    }
    tr:hover {background-color:#f5f5f5;}

</style>
 {% from "FORMHELPERS.html" import render_field %}

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="../static/img/apple-icon.png">
    <link rel="icon" type="image/png" href="../static/img/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title class="nc-icon nc-app">Reports</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../static/css/light-bootstrap-dashboard.css?v=2.0.1" rel="stylesheet" />
    <link href="../static/css/demo.css" rel="stylesheet" />
</head>

<body>
    <div class="wrapper">
        <div class="sidebar" data-image="../static/img/sidebar-5.jpg">
            <div class="sidebar-wrapper">
                <div class="logo">
                    <a  class="simple-text">
                        Welcome-{{session.user_id}}<br>
                        Enjoy your day with us!!
                    </a>
                </div>
                <ul class="nav">
                    <li class="nav-item ">
                        <a class="nav-link" href="./user_dashboard">
                            <i class="nc-icon nc-chart-pie-35"></i>
                            <p>Dashboard</p>
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link active" href="reports/{{session.user_id}}">
                            <i class="nc-icon nc-ruler-pencil"></i>
                            <p>GIve a Report</p>
                        </a>
                    </li>
                     <li>
                        <a class="nav-link" href="./logout">
                            <i class="nc-icon nc-button-power"></i>
                            <p>Log Out</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    <div class="col-lg-13">
          <div class="card mb-5">
            <div class="card-header">
                {% if type == 'customer' %}
              <i class="fa fa-table"> Reports given by you</i>
              {% else %}
              <i class="fa fa-table"> Reports on your Restaurant</i>
            {% endif %}
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table  align="right" class="table table-primary">
        <div>
            <tr>
                <th>REPORT ID</th>
                <th>CUSTOMER ID</th>
                <th>MANAGER ID</th>
                <th>RESTAURANT NAME</th>
                <th>RESTAURANT ID</th>
                <th>RATING</th>
                <th>REVIEW</th>
            </tr>
            {% for reports in reports %}
            <tr>
                <td>{{reports.id}}</td>
                <td>{{reports.customer_id}}</td>
                <td>{{reports.manager_id}}</td>
                <td>{{reports.restaurant_name}}</td>
                <td>{{reports.restaurant_id}}</td>
                <td>{{reports.rating}}</td>
                <td>{{reports.review}}</td>
                {% if type == 'customer' %}
                <td>
                    <form action="{{url_for('delete_reports', id=reports.id)}}" method="post">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="submit" value="Delete" class="btn btn-danger">
                    </form>
                </td>
                {% endif %}
        {% endfor %}
        </div>
    </table>

    <div class="col-lg-14">
          <div class="card mb-5">
            <div class="card-header">
              <i class="fa fa-table"></i>Give a new report</div>
            <div class="card-body">
              <div class="table-responsive">
                <table  align="right" class="table table-primary">
        <div>
                <form method="POST" action="">
                <td><div class="form-group">
                        {{render_field(form.restaurant_id, class_="form-control")}}
                    </div>
                </td>
                <td><div class="form-group">
                        {{render_field(form.restaurant_name, class_="form-control")}}
                    </div>
                </td>
                    <td><div class="form-group">
                        {{render_field(form.review, class_="form-control")}}
                    </div>
                </td>
                    <td><div class="form-group">
                        {{render_field(form.rating, class_="form-control")}}
                    </div>
                </td>
                <p><input type="submit" class="btn btn-primary" value="Submit"></p>
                 </form>
        </div>
    </table>
</body>
</html>